{{ template "header" . }}

<div class="box" style="max-width:40em">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="field">
        <h2 class="control">
          Please sign in
        </h2>
      </div>
    </div>
  </div>

  {{ if .error }}
  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="field">
        <p class="help is-error">
        {{ .error }}
        </p>
      </div>
    </div>
  </div>
  {{ end }}

  <form action="/signin" method="post">

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Email Address</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
          <input class="input" type="email" id="email" name="email" value=""><br>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Password</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
          <input class="input" type="password" id="password" name="password" minlength="8" maxlength="100" value=""><br>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
          <input class="button is-primary" type="submit" value="Sign In">
          </p>
        </div>
      </div>
    </div>
  </form>
</div>

<p>
Need an account?
<a href="/signup">Sign up</a>
</p>

{{ template "footer" . }}
