{{ template "header" . }}

<div class="box" style="max-width:40em">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="field">
        <h1 class="control">
          Add a domain name
        </h1>
      </div>
    </div>
  </div>

  {{ if .error }}
  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="field">
        <p class="help is-error">
        {{ .error }}
        </p>
      </div>
    </div>
  </div>
  {{ end }}

  <form action="/domain/add" method="post">

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Domain name</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
          <input class="input" type="text" id="domain" name="domain" value=""><br>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
          <input class="button is-primary" type="submit" value="Add Domain">
          </p>
        </div>
      </div>
    </div>
  </form>
</div>

{{ template "footer" . }}

