{{ define "footer" }}

  </section>

  <footer class="footer is-light" style="text-align:center">
    A project by <a href="https://foxloopsoftware.com/">Fox Loop Software LLC</a>
  </footer>
  </body>
</html>

{{ end }}
